*{
    margin: 0;
    padding: 0;
    
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

hr{
    width:50 vw;
    height: 10px;
}

.m-10{
    margin: 10px;
}

li{
    display: flex;
    flex-direction: column;
}